.result {
  margin: 20px;
  p {
    font-size: 14px;
    color: greenyellow;
  }
  span {
    padding: 5px;
    background-color: rgba(102, 99, 99, 0.479);
    border-radius: 8px;
    cursor: pointer;
  }
}
